.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header > :first-child {
    order: 1; 
}

.header img {
    width: 50%;
    transition: transform 0.3s ease;
    
}
.header__menu-item:hover {
    color: blue; 
}

.header img:hover {
    transform: scale(1.05); 
}