.product-grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: calc(95% - 1px);
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.card__content {
  padding: 20px;
}

.card__heading {
  font-size: 20px;
  margin-bottom: 20px;
}

.card__information {
  margin-bottom: 15px;
}

.price-item--regular {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.card__image {
  width: 100%;
  height: auto;
  display: block;
}

.card__link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.card .button--secondary {
  color: blue;
}

.button--secondary span:first-child {
  color: blue;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header > :first-child {
  order: 1;
}

.header img {
  width: 50%;
  transition: transform 0.3s ease;
}

.header__menu-item:hover {
  color: blue;
}

.header img:hover {
  transform: scale(1.05);
}

.footer-outer-div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-outer-div .menu {
  margin: 0 30px;
  margin-bottom: 0px;
}

.footer-outer-div .menu h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.footer-outer-div .menu ul {
  list-style-type: none;
  padding: 0;
}

.footer-outer-div .menu ul li {
  margin-bottom: 8px;
}

.footer-outer-div .menu ul li a {
  text-decoration: none;
  color: #333;
}

.footer-outer-div .contact-us {
  display: flex;
  align-items: center;
}

.footer-outer-div .contact-us img {
  width: 15px !important;
  height: auto;
  margin-right: 10px;
}

.footer-outer-div .contact-us img,
.footer-outer-div .payments img,
.footer-outer-div .follow-us img {
  width: 125px;
  height: auto;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .footer-outer-div .menu {
    margin-right: 0;
    margin-bottom: 20px;
  }
}